<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% extends "nav.html" %}
{% block content %}
  <h1>NBA Players Stats 2022-2023</h1>
  <table id="players-container" >
    <thead>
      <tr>
        <th>Rk</th>
        <th>Player</th>
        <th>Team</th>
        <th>Position</th>
        <th>Age</th>
        <th>PPG</th>
        <th>RPG</th>
        <th>APG</th>
        <th>SPG</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
        <tr>
          <td>{{ player['RANK'] }}</td>
          <td>{{ player['NAME'] }}</td>
          <td>{{ player['TEAM'] }}</td>
          <td>{{ player['POS'] }}</td>
          <td>{{ player['AGE'] }}</td>
          <td>{{ player['PPG'] }}</td>
          <td>{{ player['RPG'] }}</td>
          <td>{{ player['APG'] }}</td>
          <td>{{ player['SPG'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <button id="show-more">Show More</button>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/show_more.js') }}"></script>
{% endblock %}
