<link rel="stylesheet" href="{{ url_for('static', filename='css/teams.css') }}">
{% extends "nav.html" %}
{% block content %}

<div class="flex-container">
      <div>
        <h3><b><u>Atlantic</u></b></h3>
        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/bos.png" id="teams-logo">
          Boston Celtics

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#bos-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/bkn.png" id="teams-logo">
          Brooklyn Nets

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#bkn-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/nyk.png" id="teams-logo">
          New York Knicks

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#nyk-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/phi.png" id="teams-logo">
          Philadelphia 76ers

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#phi-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/tor.png" id="teams-logo">
          Toronto Raptors

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#tor-starters">Starters</a>
        </span>
          
        </p>
        
        
      </div>
  
      <div>
<h3><b><u>Central</u></b></h3>
        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/chi.png" id="teams-logo">
          Chicago Bulls

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#chi-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/cle.png" id="teams-logo">
          Cleveland Cavaliers

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#cle-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/det.png" id="teams-logo">
          Detroit Pistons

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#det-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/ind.png" id="teams-logo">
          Indiana Pacers

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#ind-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/mil.png" id="teams-logo">
          Milwaukee Bucks

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#mil-starters">Starters</a>
        </span>
          
        </p>
        
      </div>
  
      <div>
        <h3><b><u>Northwest</u></b></h3>
        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/den.png" id="teams-logo">
          Denver Nuggets

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#den-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/min.png" id="teams-logo">
          Minnesota Timberwolves

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#min-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/okc.png" id="teams-logo">
          Oklahoma City Thunder

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#okc-starters">Starters</a>
        </span>
          
        </p>
        

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/por.png" id="teams-logo">
          Portland Trail Blazers

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#por-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/uth.png" id="teams-logo">
          Utah Jazz

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#uth-starters">Starters</a>
        </span>
          
        </p>
      </div>

  <div>
        <h3><b><u>Pacific</u></b></h3>
        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/gsw.png" id="teams-logo">
          Golden State Warriors

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#gsw-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/lac.png" id="teams-logo">
          LA Clippers

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#lac-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/lal.png" id="teams-logo">
          Los Angeles Lakers

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#lal-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/phx.png" id="teams-logo">
          Phoenix Suns

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#phx-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/sac.png" id="teams-logo">
          Sacramento Kings

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#sac-starters">Starters</a>
        </span>
          
        </p>
      </div>

      <div>
        <h3><b><u>Southeast</u></b></h3>
        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/atl.png" id="teams-logo">
          Atlanta Hawks

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#atl-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/cha.png" id="teams-logo">
          Charlotte Hornets

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#cha-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/mia.png" id="teams-logo">
          Miami Heat

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#mia-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/orl.png" id="teams-logo">
          Orlando Magic

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#orl-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/was.png" id="teams-logo">
          Washington Wizards

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#was-starters">Starters</a>
        </span>
          
        </p>
      </div>
      <div>
        <h3><b><u>Southwest</u></b></h3>
        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/dal.png" id="teams-logo">
          Dallas Mavericks

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#dal-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/hou.png" id="teams-logo">
          Houston Rockets

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#hou-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/mem.png" id="teams-logo">
          Memphis Grizzlies

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#mem-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/nor.png" id="teams-logo">
          New Orleans Pelicans
          
          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#nor-starters">Starters</a>
        </span>
          
        </p>

        <p>
          <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/nba/500/sa.png" id="teams-logo">
          San Antonio Spurs

          <span class="sub-team-categories">
          <a class="" href="">Statistics</a>
          <a class="" href="#sa-starters">Starters</a>
        </span>
          
        </p>
      </div>
      
    </div>




<!-- Current Lineups -->

<h1 id="header"><u>Starting Lineups</u></h1>
<br>

<!-- Boston Celtics Lineup  -->
<h3 id="bos-starters">Boston Celtics</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2990992.png">
    <p>PG</p>
    <p>Marcus Smart</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3078576.png">
    <p>SG</p>
    <p>Derrick White</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3917376.png">
    <p>SF</p>
    <p>Jaylen Brown</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4065648.png">
    <p>PF</p>
    <p>Jayson Tatum</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3213.png">
    <p>C</p>
    <p>Al Horford</p>
  </div>
</div>
<br>

<!-- Brooklyn Nets Lineup  -->
<h3 id="bkn-starters">Brooklyn Nets</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2580782.png">
    <p>PG</p>
    <p>Spencer Dinwiddie</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3147657.png">
    <p>SG</p>
    <p>Mikal Bridges</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3138196.png">
    <p>SF</p>
    <p>Cameron Johnson</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2578185.png">
    <p>PF</p>
    <p>Dorian Finney-Smith</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278067.png">
    <p>C</p>
    <p>Nic Claxton</p>
  </div>
</div>
<br>

<!-- New York Knicks Lineup  -->
<h3 id="nyk-starters">New York Knicks</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3934672.png">
    <p>PG</p>
    <p>Jalen Brunson</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4397014.png">
    <p>SG</p>
    <p>Quentin Grimes</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4395625.png">
    <p>SF</p>
    <p>RJ Barrett</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278355.png">
    <p>PF</p>
    <p>Obi Toppin</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4351852.png">
    <p>C</p>
    <p>Mitchell Robinson</p>
  </div>
</div>
<br>

<!-- Philadelphia 76ers Lineup  -->
<h3 id="phi-starters">Philadelphia 76ers</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3992.png">
    <p>PG</p>
    <p>James Harden</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4431678.png">
    <p>SG</p>
    <p>Tyrese Maxey</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6440.png">
    <p>SF</p>
    <p>Tobias Harris</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3033.png">
    <p>PF</p>
    <p>P.J. Tucker</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3059318.png">
    <p>C</p>
    <p>Joel Embiid</p>
  </div>
</div>
<br>


<!-- Toronto Raptors Lineup  -->
<h3 id="tor-starters">Toronto Raptors</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2991230.png">
    <p>PG</p>
    <p>Fred Vanvleet</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3934719.png">
    <p>SG</p>
    <p>O.G. Anunoby</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4433134.png">
    <p>SF</p>
    <p>Scottie Barnes</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3149673.png">
    <p>PF</p>
    <p>Pascal Siakam</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3134908.png">
    <p>C</p>
    <p>Jakob Poeltl</p>
  </div>
</div>
<br>



<!-- Chicago Bulls Lineup  -->
<h3 id="chi-starters">Chicago Bulls</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3964.png">
    <p>PG</p>
    <p>Patrick Beverley</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2991350.png">
    <p>SG</p>
    <p>Alex Caruso</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3064440.png">
    <p>SF</p>
    <p>Zach Lavine</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3978.png">
    <p>PF</p>
    <p>Demar DeRozan</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6478.png">
    <p>C</p>
    <p>Nikola Vucevic</p>
  </div>
</div>
<br>



<!-- Cleveland Cavaliers Lineup  -->
<h3 id="cle-starters">Cleveland Cavaliers</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4396907.png">
    <p>PG</p>
    <p>Darius Garland</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3908809.png">
    <p>SG</p>
    <p>Donovan Mitchell</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4432822.png">
    <p>SF</p>
    <p>Isaac Okoro</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4432158.png">
    <p>PF</p>
    <p>Evan Mobley</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066328.png">
    <p>C</p>
    <p>Jarrett Allen</p>
  </div>
</div>
<br>


<!-- Detroit Pistons Lineup  -->
<h3 id="det-starters">Detroit Pistons</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4683024.png">
    <p>PG</p>
    <p>Killian Hayes</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4433218.png">
    <p>SG</p>
    <p>Jaden Ivey</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3593.png">
    <p>SF</p>
    <p>Bojan Bogdanovic</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4277848.png">
    <p>PF</p>
    <p>Marvin Bagley III</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4432808.png">
    <p>C</p>
    <p>James Wiseman</p>
  </div>
</div>
<br>


<!-- Indiana Pacers Lineup  -->
<h3 id="ind-starters">Indiana Pacers</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4396993.png">
    <p>PG</p>
    <p>Tyrese Haliburton</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4395712.png">
    <p>SG</p>
    <p>Andrew Nembhard</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2990984.png">
    <p>SF</p>
    <p>Buddy Hield</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4396909.png">
    <p>PF</p>
    <p>Aaron Nesmith</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3133628.png">
    <p>C</p>
    <p>Myles Turner</p>
  </div>
</div>
<br>


<!-- Milwaukee Bucks Lineup  -->
<h3 id="mil-starters">Milwaukee Bucks</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3995.png">
    <p>PG</p>
    <p>Jrue Holiday</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3135045.png">
    <p>SG</p>
    <p>Grayson Allen</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6609.png">
    <p>SF</p>
    <p>Khris Middleton</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3032977.png">
    <p>PF</p>
    <p>Giannis Antetokounmpo</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3448.png">
    <p>C</p>
    <p>Brook Lopez</p>
  </div>
</div>
<br>



<!-- Denver Nuggets Lineup  -->
<h3 id="den-starters">Denver Nuggets</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3936299.png">
    <p>PG</p>
    <p>Jamal Murray</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2581018.png">
    <p>SG</p>
    <p>Kentavious Caldwell-Pope</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278104.png">
    <p>SF</p>
    <p>Michael Porter Jr.</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3064290.png">
    <p>PF</p>
    <p>Aaron Gordon</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3112335.png">
    <p>C</p>
    <p>Nikola Jokic</p>
  </div>
</div>
<br>


<!-- Minnesota Timberwolves Lineup  -->
<h3 id="min-starters">Minnesota Timberwolves</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3195.png">
    <p>PG</p>
    <p>Mike Conley</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4594268.png">
    <p>SG</p>
    <p>Anthony Edwards</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4431671.png">
    <p>SF</p>
    <p>Jaden McDaniels</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3136195.png">
    <p>PF</p>
    <p>Karl-Anthony Towns</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3032976.png">
    <p>C</p>
    <p>Rudy Gobert</p>
  </div>
</div>
<br>


<!-- Oklahoma City Thunder Lineup  -->
<h3 id="okc-starters">Oklahoma City Thunder</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278073.png">
    <p>PG</p>
    <p>Shai Gilgeous-Alexander</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4871145.png">
    <p>SG</p>
    <p>Josh Giddey</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4397020.png">
    <p>SF</p>
    <p>Luguentz Dort</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4593803.png">
    <p>PF</p>
    <p>Jalen Williams</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4432823.png">
    <p>C</p>
    <p>Jaylin Williams</p>
  </div>
</div>
<br>


<!-- Portland Trail Blazers Lineup  -->
<h3 id="por-starters">Portland Trail Blazers</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4351851.png">
    <p>PG</p>
    <p>Anfernee Simons</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4914336.png">
    <p>SG</p>
    <p>Shaedon Sharpe</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3907498.png">
    <p>SF</p>
    <p>Matisse Thybulle</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2991070.png">
    <p>PF</p>
    <p>Jerami Grant</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3102530.png">
    <p>C</p>
    <p>Jusuf Nurkic</p>
  </div>
</div>
<br>

<!-- Utah Jazz Lineup  -->
<h3 id="uth-starters">Utah Jazz</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4277811.png">
    <p>PG</p>
    <p>Collin Sexton</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2528426.png">
    <p>SG</p>
    <p>Jordan Clarkson</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066336.png">
    <p>SF</p>
    <p>Lauri Markkanen</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2489663.png">
    <p>PF</p>
    <p>Kelly Olynyk</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4433136.png">
    <p>C</p>
    <p>Walker Kessler</p>
  </div>
</div>
<br>


<!-- Golden State Warriors Lineup  -->
<h3 id="gsw-starters">Golden State Warriors</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3975.png">
    <p>PG</p>
    <p>Stephen Curry</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6475.png">
    <p>SG</p>
    <p>Klay Thompson</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3934673.png">
    <p>SF</p>
    <p>Donte Divincenzo</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3059319.png">
    <p>PF</p>
    <p>Andrew Wiggins</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6589.png">
    <p>C</p>
    <p>Draymond Green</p>
  </div>
</div>
<br>


<!-- LA Clippers Lineup  -->
<h3 id="lac-starters">LA Clippers</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3468.png">
    <p>PG</p>
    <p>Russell Westbrook</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4251.png">
    <p>SG</p>
    <p>Paul George</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6450.png">
    <p>SF</p>
    <p>Kawhi Leonard</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3416.png">
    <p>PF</p>
    <p>Nicolas Batum</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4017837.png">
    <p>C</p>
    <p>Ivica Zubac</p>
  </div>
</div>
<br>


<!-- Los Angeles Lakers Lineup  -->
<h3 id="lal-starters">Los Angeles Lakers</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3136776.png">
    <p>PG</p>
    <p>D'Angelo Russell</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066457.png">
    <p>SG</p>
    <p>Austin Reaves</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png">
    <p>SF</p>
    <p>LeBron James</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278077.png">
    <p>PF</p>
    <p>Jarred Vanderbilt</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6583.png">
    <p>C</p>
    <p>Anthony Davis</p>
  </div>
</div>
<br>



<!-- Phoenix Suns Lineup  -->
<h3 id="phx-starters">Phoenix Suns</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2779.png">
    <p>PG</p>
    <p>Chris Paul</p>
  </div>
    
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3136193.png">
    <p>SG</p>
    <p>Devin Booker</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4065663.png">
    <p>SF</p>
    <p>Josh Okogie</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3202.png">
    <p>PF</p>
    <p>Kevin Durant</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278129.png">
    <p>C</p>
    <p>DeAndre Ayton</p>
  </div>
</div>
<br>


<!-- Sacramento Kings Lineup  -->
<h3 id="sac-starters">Sacramento Kings</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066259.png">
    <p>PG</p>
    <p>De'Aaron Fox</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066372.png">
    <p>SG</p>
    <p>Kevin Huerter</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6578.png">
    <p>SF</p>
    <p>Harrison Barnes</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4594327.png">
    <p>PF</p>
    <p>Keegan Murray</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4594327.png">
    <p>C</p>
    <p>Domantas Sabonis</p>
  </div>
</div>
<br>

<!-- Atlanta Hawks Lineup  -->
<h3 id="atl-starters">Atlanta Hawks</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4277905.png">
    <p>PG</p>
    <p>Trae Young</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3907497.png">
    <p>SG</p>
    <p>Dejounte Murray</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4065732.png">
    <p>SF</p>
    <p>De'Andre Hunter</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3908845.png">
    <p>PF</p>
    <p>John Collins</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3102529.png">
    <p>C</p>
    <p>Clint Capela</p>
  </div>
</div>
<br>


<!-- Charlotte Hornets Lineup  -->
<h3 id="cha-starters">Charlotte Hornets</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3074752.png">
    <p>PG</p>
    <p>Terry Rozier</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3133603.png">
    <p>SG</p>
    <p>Kelly Oubre Jr.</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4249.png">
    <p>SF</p>
    <p>Gordon Hayward</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278078.png">
    <p>PF</p>
    <p>P.J. Washington</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4701232.png">
    <p>C</p>
    <p>Mark Williams</p>
  </div>
</div>
<br>


<!-- Miami Heat Lineup  -->
<h3 id="mia-starters">Miami Heat</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3137259.png">
    <p>PG</p>
    <p>Gabe Vincent</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4395725.png">
    <p>SG</p>
    <p>Tyler Herro</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4065778.png">
    <p>SF</p>
    <p>Max Strus</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6430.png">
    <p>PF</p>
    <p>Jimmy Butler</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066261.png">
    <p>C</p>
    <p>Bam Adebayo</p>
  </div>
</div>
<br>


<!-- Orlando Magic Lineup  -->
<h3 id="orl-starters">Orlando Magic</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066636.png">
    <p>PG</p>
    <p>Markelle Fultz</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2999547.png">
    <p>SG</p>
    <p>Gary Harris</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4566434.png">
    <p>SF</p>
    <p>Franz Wagner</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4432573.png">
    <p>PF</p>
    <p>Paolo Banchero</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4277847.png">
    <p>C</p>
    <p>Wendell Carter Jr.</p>
  </div>
</div>
<br>


<!-- Washington Wizards Lineup  -->
<h3 id="was-starters">Washington Wizards</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3059310.png">
    <p>PG</p>
    <p>Monte Morris</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6580.png">
    <p>SG</p>
    <p>Bradley Beal</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3134907.png">
    <p>SF</p>
    <p>Kyle Kuzma</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3102531.png">
    <p>PF</p>
    <p>Kristaps Porzingis</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278049.png">
    <p>C</p>
    <p>Daniel Gafford</p>
  </div>
</div>
<br>


<!-- Dallas Mavericks Lineup  -->
<h3 id="dal-starters">Dallas Mavericks</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3945274.png">
    <p>PG</p>
    <p>Luka Doncic</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6442.png">
    <p>SG</p>
    <p>Kyrie Irving</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2528210.png">
    <p>SF</p>
    <p>Tim Hardaway Jr.</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2528779.png">
    <p>PF</p>
    <p>Reggie Bullock</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2531367.png">
    <p>C</p>
    <p>Dwight Powell</p>
  </div>
  
</div>
<br>


<!-- Houston Rockets Lineup  -->
<h3 id="hou-starters">Houston Rockets</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4397140.png">
    <p>PG</p>
    <p>Kevin Porter Jr.</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4437244.png">
    <p>SG</p>
    <p>Jalen Green</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4431828.png">
    <p>SF</p>
    <p>Kenyon Martin Jr.</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4432639.png">
    <p>PF</p>
    <p>Jabari Smith Jr.</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4871144.png">
    <p>C</p>
    <p>Alperen Sengun</p>
  </div>
  
</div>
<br>


<!-- Memphis Grizzlies Lineup  -->
<h3 id="mem-starters">Memphis Grizzlies</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4279888.png">
    <p>PG</p>
    <p>Ja Morant</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4066320.png">
    <p>SG</p>
    <p>Desmond Bane</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3155526.png">
    <p>SF</p>
    <p>Dillon Brooks</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4277961.png">
    <p>PF</p>
    <p>Jaren Jackson Jr.</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4277964.png">
    <p>C</p>
    <p>Xavier Tillman</p>
  </div>
  
</div>
<br>


<!-- New Orleans Pelicans Lineup  -->
<h3 id="nor-starters">New Orleans Pelicans</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/2490149.png">
    <p>PG</p>
    <p>CJ McCollum</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4397688.png">
    <p>SG</p>
    <p>Trey Murphy III</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3913176.png">
    <p>SF</p>
    <p>Brandon Ingram</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4277813.png">
    <p>PF</p>
    <p>Herbert Jones</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/6477.png">
    <p>C</p>
    <p>Jonas Valanciunas</p>
  </div>
  
</div>
<br>



<!-- San Antonio Spurs Lineup  -->
<h3 id="sa-starters">San Antonio Spurs</h3>
<div class="flex-container2">
  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4395626.png">
    <p>PG</p>
    <p>Tre Jones</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4395630.png">
    <p>SG</p>
    <p>Devin Vassell</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4395723.png">
    <p>SF</p>
    <p>Keldon Johnson</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4610139.png">
    <p>PF</p>
    <p>Jeremy Sochan</p>
  </div>

  <div>
    <img id="player-image" src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/4278580.png">
    <p>C</p>
    <p>Sandro Mamukelashvili</p>
  </div>
  
</div>


{% endblock %}